일자 : 2020-07-06(월)

내용 : 파이썬으로 업앤다운 게임 만들어서 인공지능화하기

팀원 : 강동구, 강민지, 김강원


---


# Up and Down Game

1. 컴퓨터가 임의의 수(C)를 정했다.

2. 플레이어(컴퓨터)가 임의의 수(P)를 정했다.

3. 컴퓨터가 플레이어의 수보다 자신의 수가 높은지 낮은지를 출력한다.

In [ ]:
import random

x = random.randrange(1,101)
count = 0
y = random.randrange(1,101)
ub = 101
lb = 0


print("정답: %d" % x)

while count < 100:
  
  
  print(y)

  if x > y:
    print('Up')
    lb = max(lb, y)
    y = int((ub + lb)/2)
  
  elif x < y:
    print('Down')
    ub = min(ub, y)
    y = int((ub + lb)/2)
  
  else:
    print("정답!")
    break


  count += 1

정답: 26
30
Down
15
Up
22
Up
26
정답!